<div class="card bg-dark">
  <div class="card-header"> {{ title }}</div>
  <div class="card-body">
    <form class="" action="index.html" method="post">
      <div class="form-group row">
        <label for="titulo" class="col-form-label col-sm-3"></label>
        <div class="col-sm-6">
          <input type="text" name="titulo" class="form-control" [(ngModel)]="juego.titulo">
        </div>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-primary">Crear</button>
        <button type="button" class="btn btn-secondary ml-2" routerLink="/juegos" >Cancelar</button>
      </div>
    </form>
  </div>
</div>
